@model IEnumerable<AirBnbUdC.GUI.Models.Parameters.CustomerModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<a target="_blank" href="/Customer/GenerateReport?format=PDF" class="btn btn-primary mb-2">Generar Reporte<i class="fas fa-file"></i></a>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FamilyName)

            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })

            </td>
        </tr>
    }

</table>
